/* Formular */
@font-face {
	font-family: 'PD-r';
	src: url('../fonts/PlayfairDisplay-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PD-m';
	src: url('../fonts/PlayfairDisplay-Medium.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PD-sb';
	src: url('../fonts/PlayfairDisplay-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PD-b';
	src: url('../fonts/PlayfairDisplay-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Calypso';
	src: url('../fonts/Calypso.ttf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PTS-r';
	src: url('../fonts/PTSans-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PTS-b';
	src: url('../fonts/PTSans-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Int-r';
	src: url('../fonts/Inter-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Int-m';
	src: url('../fonts/Inter-Medium.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Int-sb';
	src: url('../fonts/Inter-SemiBold.ttf');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Int-b';
	src: url('../fonts/Inter-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

