.block-kviz {
    background-color: #EEF0F7;
    margin: 0 0 40px 0;

    .kviz {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    
        @media (max-width: 767px) {
            flex-wrap: wrap;
        }
    
        .kviz__title {
            font-size: 45px;
            color: #38434E;
            line-height: 45px;
    
            @media (max-width: 767px) {
                font-size: 30px;
                line-height: 30px;
            }
    
            @media (max-width: 576px) {
                text-align: center;
            }
        }
    }
}

