$colorWhite: #FFFFFF;
$colorBorder: #D9DDE8;
$colorF2F5F8: #F2F5F8;
$color03A300: #03A300;
$color00A44B: #00A44B;
$color006D25: #006D25;
$color212121: #212121;
$colorFFFFFF: #FFFFFF;
$color757575: #757575;
$color454545: #454545;
$colorCF2034: #CF2034;
$color7A8086: #7A8086;
$color6D7280: #6D7280;
$colorEEF2FB: #EEF2FB;

$color_warn: #CF2034;
$color_brand: #00978E;
$color_border: #D9DDE8;
$color_input_txt: #38434E;
$color_txt: #212121;