.table-responsive{
	width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
}
.compare-table{
	width: 100%;
	border-collapse: collapse;
	tr{
		td{
			vertical-align: top;
			width: 240px;
			border: 1px solid #d6d6d6;
		}
	}
}
.product-compare-desc{
	display: flex;
	justify-content: flex-end;
	color: #232323;
    font-size: 14px;
	font-family: Montserrat-Regular;
	background: #fff;
	border: 1px solid rgba(225, 247, 255, 1);
	box-shadow: 0px 2px 9px 0px rgba(118, 189, 216, 0.25);
	padding: 10px 20px;
	margin: 0 0 25px;
	a{
		color: #232323;
	}
}
.loading-compare{
	position: relative;
	width: 100%;
	height: 400px;
	background: #fff;
	overflow: hidden;
	&:after{
		content: '';
		display: block;
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(243, 253, 255, 1) url('../images/loader.svg') center no-repeat !important;
	}
}
.product-compare{
	margin: 0;
	.product-compare__item{
		position: relative;
		min-width: 250px;
		transition: all .3s linear;
		&:hover{
			.product-compare__remove{
				opacity: 1;
			}
		}
	}
	.product-compare__img{
		width: 100%;
		height: 150px;
		padding: 10px;
		line-height: 130px;
		text-align: center;
		img{
			max-height: 100%;
		}
	}
	.product-compare__remove{
		position: absolute;
		z-index: 1;
		top: 4px;
		right: 2px;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
	    color: #929292;
	    font-size: 13px;
		cursor: pointer;
		pointer-events: all;
		border-radius: 50%;
		opacity: 0;
		transition: all .3s ease;
		i{
			pointer-events: none;
		}
		&:hover{
			color: #F30058;
		}
	}
	.product-compare__info{
		position: relative;
		padding: 10px;
	}
	.product-compare__name{
		height: 35px;
		overflow: hidden;
		color: #393939;
		font-size: 14px;
		font-weight: bold;
		line-height: 1.2;
		margin: 0 0 15px;
	}
	.product-compare__price{
		text-align: center;
		padding: 0 0 5px;
		.compare-result{
			font-size: 16px;
			font-weight: bold;
		}
	}
}
.product-compare-attribute{
	margin: 0;
	.product-compare-attribute__item{
		text-align: center;
		transition: all .3s linear;
	}
	.product-compare-attribute__head{
		color: #414b4e;
		font-size: 14px;
		line-height: 1.0;
		padding: 6px 10px;
		background: #e8e8e8;
	}
	.product-compare-attribute__val{
		padding: 4px 10px;
		.value{
			color: #414b4e;
			font-size: 16px;
			&.value-yes{
				color: #d20047;
				font-size: 14px;
			}
			&.value-not{
				color: red;
				&:before{
				    content: '-';
    				display: inline;
				}
			}
		}
	}
}

@media (max-width: 640px){
	.product-compare{
		.product-compare__name{
			height: 104px;
		    font-size: 13px;
		    margin: 0 0 5px;
		    line-height: 1.0;
		}
		.product-compare__info{
			padding: 10px 7px;
		}
		&.product-compare-carousel{
			.slick-prev, .slick-next{
				display: none;
			}
		}
	}
	.product-compare-attribute{
		.product-compare-attribute__head{
			font-size: 13px;
			padding: 6px 7px;
		}
		.product-compare-attribute__val{
			padding: 4px 7px;
			.value{
			}
		}
	}
}