.product-favorite{
    .product__items{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
        .empty{
            margin: 0 10px;
        }
        .product-item{
            width: calc(100% / 3 - 20px);
            margin: 0 10px 20px 10px;
            @media(max-width: 1560px){
                width: calc(100% / 3 - 20px);
            }
            @media(max-width: 991px){
                width: calc(100% / 2 - 20px);
            }
            @media(max-width: 576px){
                width: 100%;
            }
        }
    }
}