.header-mobile {
    justify-content: space-between;
}

.header__nav-mobile {
    display: none;
    position: absolute;
    top: 140px;
    left: 0;
    opacity: 0;
    flex-direction: column;
    z-index: 5;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: 0.1s linear;
    @media screen and (max-width: 768px) {
        top: calc(80px + (147 - 80) * ((100vw - 320px) / (768 - 320)));
    }
    &.open {
        display: flex;
        opacity: 1;
        transition: 0.1s linear;
    }
    .listItemLink {
        font-family: 'Int-m';
        background-color: #fff;
        height: 55px;
        @media screen and (max-width: 768px) {
            height: calc(45px + (55 - 45) * ((100vw - 320px) / (768 - 320)));
        }
    }
    img {
        margin-top: -2px;
    }
    .search__wrapper-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        .header-search {
            margin: 15px 0;
            &__input {
                box-shadow: none;
                border: 1px solid #000;
            }
        }
    }
}

.mobile-line {
    bottom: 0;
}

#nav-icon3 {
    flex: 0 0 auto;
    width: 24px;
    height: 24px;
    position: relative;
    margin: 0;
    transform: rotate(0deg);
    transition: 0.5s ease-in-out;
    margin-left: 25px;
    cursor: pointer;
}
#nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 20px;
    background: #000;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0px;
}
#nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 7px;
}
#nav-icon3 span:nth-child(4) {
    top: 15px;
}
#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}
#nav-icon3.open span:nth-child(2) {
    transform: rotate(45deg);
}
#nav-icon3.open span:nth-child(3) {
    transform: rotate(-45deg);
}
#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
